
:root {
    --color-brightwhite: #FFF;
    --color-deepblack: #222;
    --color-deeperblack: #111;
    --color-vantablack: #000;
    --color-selectables-idle:  #ff92c5;
    --color-selectables-active: #FFF;
    --color-selectables-disabled: #999;
    --color-logo-grad1: #ff92c5;
    --color-logo-grad2: #ffb0d5;
    --color-logo-grad3: #da74a3;
}

/* --- BASIC STYLE SETUP ---*/

.ubuntu-sans-400 {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.victor-mono-400{
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.oswald-400 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}

.yellowtail-regular {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
}

.league-gothic-400 {
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.fira-code-400 {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 

html {
    color: var(--color-brightwhite);
    background-color: var(--color-vantablack);
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bolder;
    transition: color .25s;
}

a :hover, a :active {
    color: var(--color-brightwhite);
}

/* --- END BASIC STYLE SETUP --- */
/* --- NAVIGATION BAR --- */

#nav {
    display: flex;
    justify-content: center;
    background-color: var(--color-deeperblack);
}

#nav > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: var(--color-vantablack); */
    color: var(--color-logo-grad1);
    font-size: 14pt;
    margin: 8pt;
    transition: margin, color;
    transition-duration: .25s;
}

#nav > a:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: var(--color-vantablack); */
    color: var(--color-logo-grad1);
    text-shadow: var(--color-logo-grad1) 0 0 20pt;
    font-size: 20pt;
    margin: 8pt;
    transition: margin, color;
    transition-duration: .25s;
    animation-name: logo-breath;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#nav > a:hover, #nav > a:focus {
    color: var(--color-selectables-active);
    margin: 24pt;
    margin-top: 0;
    margin-bottom: 0;
}

@keyframes logo-breath {
    0% { color: var(--color-logo-grad1) }
    25% { color: var(--color-logo-grad2) }
    50% { color: var(--color-logo-grad1) }
    80% { color: var(--color-logo-grad1) }
    90% { color: var(--color-logo-grad3) }
    100% { color: var(--color-logo-grad1) }
}

#nav > a > i {
    margin: 4pt;
}

/* --- END NAVIGATION BAR --- */
/* --- CONTENT --- */

#content {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 2%;
    margin-right: 12.5%;
    margin-left: 12.5%;
    text-align: justify;
}

#content-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
}

#content-placeholder > p {
    margin: 2%;
    font-style: italic;
}

#content-placeholder > i {
    font-size: 24pt;
}

.content-fullwidth {
    width: 100%;
    text-align: justify;
}

.content-fullheight {
    height: 100%;
}

.takeover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


/* --- END CONTENT --- */
/* --- FOOTER BAR --- */

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ccc;
    background-color: var(--color-deeperblack);
    font-size: small;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    margin-bottom: 10pt;
    width: 100%;
}

/* footer link paragraph */
.footer-links > p {
    margin: 2pt;
    margin-left: 4pt;
    margin-right: 4pt;
}

/* footer link icon/text centering */
.footer-links > p > a {
    display: flex;
    align-items: center;
    color: var(--color-selectables-idle);
}

.footer-links > p > a:hover,
.footer-links > p > a:active {
    color: var(--color-brightwhite);
}

/* footer link icon spacing from text */
.footer-links > p > a > i {
    margin-right: 3pt;
}

/* copyright info & nametag */
#footer > .footer-flavortext {
    margin: 8pt;
    /* margin-bottom: 0; */
}

/* --- END FOOTER BAR --- */
/* --- MEDIA DEFINITIONS --- */
@media screen {
    
}
/* --- END MEDIA DEFINITIONS --- */
